.idea/*
venv/*
*/.cache/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
*/*/*/*/.ipynb_checkpoints/*
*.vscode/*
Anotações/*
Anotações/pasta/*
.gitignore
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
Anotações/*
Anotações/*/*
anotações.txt
*/anotações.txt
*/*/anotações.txt
*/*/*/anotações.txt
Parte II/O_Melhor_Curso_de_Python/
O_Melhor_Curso_de_Python/
